<div
  id="shopify-section-sections--18239820365886__footer"
  class="shopify-section shopify-section-group-footer-group"
>
  <link
    rel="stylesheet"
    href="/assets/cdn/shop/t/343/assets/footer38a9.css?v=174835127643531114261772651360"
    media="print"
    onload="this.media = 'all'"
  />
  <noscript
    ><link
      href="/assets/cdn/shop/t/343/assets/footer38a9.css?v=174835127643531114261772651360"
      rel="stylesheet"
      type="text/css"
      media="all"
  /></noscript>
  <theme-footer class="footer" id="footer">
    <div class="row">
      <div class="small-12 medium-4 columns">
        <div class="widget widget--text text-left">
          <div class="thb-widget-title">CURRENT GIVEAWAY RULES</div>
          <div class="rte text-size--small">
            <p>
              NO PURCHASE NECESSARY TO ENTER OR WIN. For Official Rules, which
              include entry methods, prize description, and complete details,
              <a href="/rules-and-conditions" title="RULES AND CONDITIONS"
                >see official rules and conditions</a
              >. Sponsor: Prime Performance Auto LLC. Void where prohibited.
            </p>
          </div>
        </div>
      </div>

      <div class="small-12 medium-4 columns">
        <div class="widget widget--text text-left">
          <div class="rte text-size--medium">
            <p>
              <a href="/rules-and-conditions" title="RULES AND CONDITIONS"
                >Rules & Conditions</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="small-12 medium-4 columns">
        <div class="widget widget--social">
          <ul class="social-links social-links--has-label"></ul>
        </div>
      </div>
    </div>
  </theme-footer>
</div>
