<theme-header
  id="header"
  class="header style4 header--shadow-small transparent--false header-sticky--active"
>
  <div class="header--inner">
    <div class="thb-header-mobile-left">
      <details class="mobile-toggle-wrapper">
        <summary class="mobile-toggle">
          <span></span>
          <span></span>
          <span></span>
        </summary>
        <nav
          id="mobile-menu"
          class="mobile-menu-drawer"
          role="dialog"
          tabindex="-1"
        >
          <div class="mobile-menu-drawer--inner">
            <ul class="mobile-menu">
              <li>
                <a href="/live-draw" title="CURRENT GIVEAWAY">LIVE DRAW</a>
              </li>
              <li>
                <a href="/" title="CURRENT GIVEAWAY">CURRENT GIVEAWAY</a>
              </li>
              <li>
                <a href="/rules-and-conditions/" title="Rules and condition"
                  >RULES & CONDITION</a
                >
              </li>
              <li>
                <a href="#" title="PAST WINNERS"
                  >Join our channel to see PAST WINNERS</a
                >
              </li>
            </ul>

            <div class="thb-mobile-menu-footer">
              <!--  -->
              <div class="no-js-hidden"></div>
            </div>
          </div>
        </nav>
        <link
          rel="stylesheet"
          href="/assets/cdn/shop/t/343/assets/mobile-menu352e.css?v=145268918413881177521772651371"
          media="print"
          onload="this.media = 'all'"
        />
        <noscript
          ><link
            href="/assets/cdn/shop/t/343/assets/mobile-menu352e.css?v=145268918413881177521772651371"
            rel="stylesheet"
            type="text/css"
            media="all"
        /></noscript>
      </details>
    </div>
    <div class="thb-header-desktop-left">
      <div class="thb-secondary-area">
        <a
          class="thb-secondary-area-item thb-quick-search"
          href="#"
          title="Search"
          ><svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.97208 0C4.0309 0 0 4.03029 0 8.97187C0 13.9135 4.03038 17.9437 8.97208 17.9437C11.0258 17.9437 12.9198 17.249 14.4348 16.0808L18.0149 19.6608C18.4672 20.1131 19.209 20.1131 19.6608 19.6608C20.1131 19.2085 20.1131 18.476 19.6608 18.0238L16.0714 14.4438C17.2422 12.9282 17.9436 11.0281 17.9436 8.97187C17.9436 4.0308 13.9138 0 8.97208 0ZM8.97208 2.3152C12.6618 2.3152 15.6284 5.2817 15.6284 8.97135C15.6284 12.661 12.6618 15.6275 8.97208 15.6275C5.28235 15.6275 2.31578 12.661 2.31578 8.97135C2.31578 5.2817 5.28235 2.3152 8.97208 2.3152Z"
              fill="var(--color-header-icons, --color-accent)"
            /></svg
        ></a>
      </div>
    </div>

    <a class="logolink" href="/">
      <img
        src="/assets/cdn/img/logoi.png"
        class="logoimg"
        alt="Prime Driven"
        width="1668"
        height="197"
      /><img
        src="/assets/cdn/img/logoi.png"
        class="logoimg logoimg--light"
        alt="Prime Driven"
        width="1668"
        height="197"
      />
    </a>

    <div class="thb-secondary-area thb-header-right">
      <a
        class="thb-secondary-area-item thb-quick-search"
        href="#"
        title="Search"
        ><svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.97208 0C4.0309 0 0 4.03029 0 8.97187C0 13.9135 4.03038 17.9437 8.97208 17.9437C11.0258 17.9437 12.9198 17.249 14.4348 16.0808L18.0149 19.6608C18.4672 20.1131 19.209 20.1131 19.6608 19.6608C20.1131 19.2085 20.1131 18.476 19.6608 18.0238L16.0714 14.4438C17.2422 12.9282 17.9436 11.0281 17.9436 8.97187C17.9436 4.0308 13.9138 0 8.97208 0ZM8.97208 2.3152C12.6618 2.3152 15.6284 5.2817 15.6284 8.97135C15.6284 12.661 12.6618 15.6275 8.97208 15.6275C5.28235 15.6275 2.31578 12.661 2.31578 8.97135C2.31578 5.2817 5.28235 2.3152 8.97208 2.3152Z"
            fill="var(--color-header-icons, --color-accent)"
          /></svg
      ></a>

      <a
        class="thb-secondary-area-item thb-secondary-cart"
        href="#"
        id="cart-drawer-toggle"
      >
        <!--  -->
      </a>
    </div>

    <full-menu class="full-menu">
      <ul class="thb-full-menu" role="menubar">
        <li role="none" class="menu-item-has-children" data-item-title="SHOP">
          <a
            role="menuitem"
            class="thb-full-menu--link"
            href="/live-draw/"
            aria-current="page"
          >
            Live Draw
          </a>
        </li>
        <li role="none" class="active">
          <a
            role="menuitem"
            class="thb-full-menu--link"
            href="/"
            aria-current="page"
            >CURRENT GIVEAWAY</a
          >
        </li>
        <li role="none" class="active">
          <a
            role="menuitem"
            class="thb-full-menu--link"
            href="/rules-and-conditions"
            aria-current="page"
          >
            Rules & Condition
          </a>
        </li>
      </ul>
    </full-menu>
  </div>
  <style data-shopify>
    :root {
      --logo-height: 20px;
      --logo-height-mobile: 20px;
    }
  </style></theme-header
>
